#donations_log td, #donations_log th{
  border:1px solid #CCC;
  border-collapse: collapse;
  max-width: 500px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.amount_row {
  text-align: right;
}

#navlinks{
  text-align: center;
}

.time{
  float: right;
  font-size: smaller;
}
